{% extends'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <ul>
    {% for product in products %}
        <li>
            {{ product.libelle }}
            {{ product.description }}
            {{ product.prix }}
            {{ product.image }}
            {{ product.categorie }}
        </li>
    {% endfor %}
    </ul>

{% endblock %}