{% extends'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <div class="all-products row row-cols-1 row-cols-md-auto">
    {% for product in products %}
        <div class="col mb-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('assets/image_product/' ~ product.image) }}" alt="{{ product.image }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ product.libelle }}</h5>
                    <p class="card-text">{{ product.description|nl2br }}</p>
                    {% if product.promotion and ("now"|date('d-m-Y') >= product.promotion.dateDebut|date('d-m-Y') and
                        "now"|date('d-m-Y') <= product.promotion.dateFin|date('d-m-Y')) %}
                        <p class="card-text promo prix">{{ (product.prix-(product.prix*product.promotion.pourcentageRemise/100))|number_format(2, '.') }} €</p>
                    {% else %}
                        <p class="card-text prix">{{ product.prix|number_format(2, '.') }} €</p>
                    {% endif %}
                        <p class="card-text category">{{ product.categorie }}</p>
                    {% if app.user %}
                        <a class="link-promo btn btn-primary" href="{{ path('set_promotion', {'id': product.id}) }}">Ajouter Proomotion</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}