<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <!-- Bootstrap CSS -->
        <link href="{{ asset('assets/styles/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/styles/style.css') }}" rel="stylesheet">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="./">Accueil</a>
                    {% if app.user %}
                    <li class="nav-item">
                        <span class="nav-link">Bienvenu {{ app.user.surname }} {{ app.user.name }}</span>
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item {{ app.request.get('_route') == 'app_login' ? 'active':'' }}">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    {% endif %}
        </nav>

        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>

        {% block scripts %}
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="{{ asset('assets/js/jquery-3.7.1.slim.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
