<!DOCTYPE html>
<html lang="FR-fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/icon.ico') }}">
        <!-- Bootstrap CSS -->
        <link href="{{ asset('assets/styles/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/styles/config.perso.css') }}" rel="stylesheet">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-scroll fixed-top">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menumercadona" aria-controls="menumercadona" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menumercadona">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Mercadona</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Catégorie du catalog</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown03">
                            <li><a class="dropdown-item" href="{{ path('catalog', {'category': 'Alimentation'}) }}">Alimentation</a></li>
                            <li><a class="dropdown-item" href="{{ path('catalog', {'category': 'Électronique'}) }}">Électronique</a></li>
                            <li><a class="dropdown-item" href="{{ path('catalog', {'category': 'Vêtements et mode'}) }}">Vêtements et mode</a></li>
                            <li><a class="dropdown-item" href="{{ path('catalog', {'category': 'Beauté et santé'}) }}">Beauté et santé</a></li>
                            <li><a class="dropdown-item" href="{{ path('catalog', {'category': 'Sports et loisirs'}) }}">Sports et loisirs</a></li>
                            <li><a class="dropdown-item" href="{{ path('catalog', {'category': 'Livres et papeterie'}) }}">Livres et papeterie</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    {% if app.user %}
                        <li class="nav-item nav-link active">
                            Bienvenue {{ app.user.surname  }} {{ app.user.name }}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('new_product') }}">Ajouter un produit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <main class="container-fluid">
            {% block body %}{% endblock %}
        </main>

        <footer class="bg-dark text-center text-white">
            <div class="container p-4">
                <section class="mb-4">
                    <p>Mercadona est une entreprise du secteur du retail avec 1675 magasins en Espagne et un chiffre d'affaires de 20 milliards d'euros.</p>
                    <p>Notre engagement envers le développement durable nous amène à remplacer nos tracts publicitaires par cette application web, développée en collaboration avec PromoWeb.</p>
                </section>
            </div>
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                Projet fin d'étude Studi <br>
                Tous droits réservés © 2023 <a class="text-white" href="{{ path('home') }}">Mercadona</a>
            </div>
            <!-- Copyright -->
        </footer>

    {% block scripts %}
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
